<an-loading *ngIf="isLoading$ | async"></an-loading>
<an-error-message *ngIf="error$ | async" [message]="error$ | async"></an-error-message>

<div *ngIf="feed$ | async">
    <div class="article-preview" *ngFor="let article of (feed$ | async).articles">
        <div class="article-meta">
            <a [routerLink]="['/profiles', article.author.id]">
                <img [src]="article.author.image">
            </a>
            <div class="info">
                <a [routerLink]="['/profile', article.author.id]">
                    {{article.author.username}}
                </a>
                <span class="date">{{toDate(article.createdAt)}}</span>
            </div>
            <div class="pull-xs-right">
                Add to favorites
            </div>
        </div>
        <a [routerLink]="['/articles', article.slug]" class="preview-link">
            <h1>{{article.title}}</h1>
            <p>{{article.description}}</p>
            <an-tags [tags]="article.tags" [outline]="true"></an-tags>
        </a>
    </div>
    <an-pagination
        [total]="(feed$ | async).articlesCount"
        [limit]="limit"
        [url]="baseUrl"
        [currentPage]="currentPage"
    ></an-pagination>
</div>